body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 50px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav a {
  text-decoration: none;
  color: #fff;
  margin: 0 15px;
}

.main-content {
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
}

.main-picture {
  margin-bottom: 20px;
  height:600px;
  width:2000px;
}

h2 {
  color: #333;
}

/* Add your custom styles for content here */
.about{
  text-align: left;;
}
/* ... Your existing styles ... */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Add your custom styles for content here */
.Contact{
  background-color: #665c5c;
}
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  text-align: left;
}

.footer-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  display: inline-block;
  margin-right: 15px;
}

.footer-nav a {
  text-decoration: none;
  color: #fff;
}

.social-icons {
  font-size: 24px;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #55acee; /* Twitter blue for LinkedIn */
}

.footer-bottom {
  margin-top: 10px;
}
